/* main page */

body.main {
	background-image: url('images/wp_95.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.menu h4 {
	color: #282828;
	margin: 0px;
}

.menu a {
	color: #282828;
	display: block;
}

.menu {
	margin-top: 15px;
	margin-left: 15px;
}

/* selected page (i.e. frauhenfeld) */
html.page, html.page body {
	height: 100%;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.page img{
	width: 100%;
	display: block;
}
